@import "tailwindcss";
@source "../views";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-hkbp-50: #eff6ff;
  --color-hkbp-100: #dbeafe;
  --color-hkbp-200: #bfdbfe;
  --color-hkbp-500: #1d4ed8;
  --color-hkbp-600: #1e40af;
  --color-hkbp-700: #1d3557;
  --color-hkbp-800: #003882;
  --color-hkbp-900: #00255c;
  --color-hkbp-950: #00183e;

  --color-gold-400: #facc15;
  --color-gold-500: #eab308;
  --color-gold-600: #ca8a04;
}

@import "swiper/css";
@import "swiper/css/pagination";